In [75]:
import pandas as pd
import numpy as np

In [76]:
path_name = 'C:/Users/Usuario/Downloads/DenunciesGUB-2023_GD_parcial.csv'

In [77]:
delimiter = ';'

In [52]:
# How many column headers do we have?
max_columns = max(open(path_name, 'r'), key = lambda x: x.count(delimiter)).count(delimiter)
max_columns

22

In [59]:
df_raw = pd.read_csv(path_name, 
                     encoding='latin-1', 
                     keep_default_na=True,
                     header = None,
                     nrows=1,
                     delimiter=';'
                    )

columns = df_raw.values

In [60]:
columns

array([['Any Data Infraccio', 'Expedient', 'Codi Infraccio',
        'Codi infracció', 'Ordenança', 'Descripció ordenança',
        'Precepte/Article infringit', 'Carrer Infracció',
        'Num carrer infracció', 'Barri Infracció', 'Nom barri',
        'Districte Infracció', 'Tipologia radar', 'Data Infraccio',
        'Hora Infraccio', 'Tipus de vehícle', 'Descripció tipus vehicle',
        'Marca del vehicle', 'Model del vehícle', 'Velocitat circulació',
        'Velocitat límit', 'Total Import', 'Imp cobrat']], dtype=object)

In [69]:
df_raw[23].isna().sum(),len(df_raw)

(356659, 356659)

The last column does not contain any values. So we can import again with less columns

In [78]:
df_raw = pd.read_csv(path_name, 
                     encoding='latin-1', 
                     #keep_default_na=True,
                     #header = None,
                     #names = list(range(0,max_columns)),
                     #skiprows = 1,
                     delimiter=delimiter
                    )

C:\Users\Usuario\AppData\Local\Temp\ipykernel_2712\251316281.py:1: DtypeWarning: Columns (11,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv(path_name,

In [81]:
# How many rows?
len(df_raw)

356659

In [84]:
for col in df_raw.columns:
    s = df_raw[col]
    vc = s.value_counts()
    if len(vc)<len(df_raw)/100:
        print(f'Column: {col}')
        print('___')
        print(vc)
        print('___')
    else:
        print(f'Column {col} has too many unique values.')

Column: Any Data Infraccio
___
2023    356659
Name: Any Data Infraccio, dtype: int64
___
Column Expedient has too many unique values.
Column: Codi Infraccio
___
1211    103577
1071     65291
1660     32892
1210     18260
1072     16184
         ...
1089         1
1650         1
1536         1
1593         1
1408         1
Name: Codi Infraccio, Length: 440, dtype: int64
___
Column: Codi infracció
___
SUPERAR LIMIT VELOCITAT SENYAL ESPECIFIC                        104439
MANCA DE COMPROVANT HORARI                                       65291
NO RESPECTAR RESTRICCIONS ZONES BAIXES EMISSIONS                 32892
CIRCULA AMB EXCES DE VELOCITAT PER RAO DE VIA                    18260
SUPERAR LIMIT HORARI                                             16184
                                                                 ...
PORTAR MECANISME DETECCIO RADAR CINEMOMETRE                          1
REINTEGRAR-SE AL CARRIL SENSE SENYALITZ                              1
PARAR SOBRE CARRILS TRAMVIA/FERROCARRIL                              1
Circular VMP/cicle mes 2r amb perill pels vianants                   1
INSTAL SENYAL V PUB SENSE PERMIS O CAUSA                             1
Name: Codi infracció, Length: 428, dtype: int64
___
Column: Ordenança
___
RGC           162200
OCVV          158524
LSVZBE         32892
LSV             3043
Name: Ordenança, dtype: int64
___
Column: Descripció ordenança
___
Reglament General Circulació    162200
Circulació                      158524
Llei seguretat viària- ZBE       32892
Llei Seguretat Viària             3043
Name: Descripció ordenança, dtype: int64
___
Column: Precepte/Article infringit
___
52. 1         104868
70.2 I         81691
76. Z3         32892
70.2 O         21619
50. 1          19180
               ...
71. 5 c            1
53. 1              1
71. B4             1
15. 3              1
147.A              1
Name: Precepte/Article infringit, Length: 198, dtype: int64
___
Column: Carrer Infracció
___
Av Diagonal                                                     14988
Rda Dalt(Llobregat                                              14045
Av Meridiana                                                    13278
Sardenya                                                        10227
GV Corts Catalanes                                              10041
                                                                ...
Parc C Nou Barris                                                   1
Santa Gemma                                                         1
Mdor Poble Sec                                                      1
Rialb                                                               1
Berlinès                                                            1
Name: Carrer Infracció, Length: 3044, dtype: int64
___
Column: Num carrer infracció
___
1             9652
158           9393
K143          9297
251           8675
254           8382
              ...
721              1
1046             1
0046I            1
0143D            1
1015             1
Name: Num carrer infracció, Length: 1483, dtype: int64
___
Column: Barri Infracció
___
7     22571
26    19544
8     18377
5     15978
19    15479
      ...
55      189
58       99
54       73
0        30
56       14
Name: Barri Infracció, Length: 74, dtype: int64
___
Column: Nom barri
___
la Dreta de l'Eixample                          22571
Sant Gervasi - Galvany                          19544
l Antiga Esquerra de l'Eixample                 18377
el Fort Pienc                                   15978
les Corts                                       15479
                                                ...
Canyelles                                         228
Ciutat Meridiana                                  189
Baro de Viver                                      99
Torre Baro                                         73
Vallbona                                           14
Name: Nom barri, Length: 73, dtype: int64
___
Column: Districte Infracció
___
2     52563
5     28390
2     28315
10    25341
4     22949
8     21658
3     19296
1     18251
5     16965
7     15586
8     15321
4     14320
9     13269
10    12388
3     11860
7      9744
1      9699
6      8262
9      7689
6      4771
         22
Name: Districte Infracció, dtype: int64
___
Column: Tipologia radar
___
         232611
Fix      121660
Mòbil      2388
Name: Tipologia radar, dtype: int64
___
Column: Data Infraccio
___
20230303    4383
20230203    4259
20230120    4186
20230119    4099
20230116    4035
            ...
20230430    1550
20230326    1498
20230101    1389
20230107    1343
20230106    1217
Name: Data Infraccio, Length: 120, dtype: int64
___
Column: Hora Infraccio
___
123900    671
124100    656
124500    651
123500    648
123700    637
         ...
21301       1
155001      1
121601      1
120001      1
122520      1
Name: Hora Infraccio, Length: 1458, dtype: int64
___
Column: Tipus de vehícle
___
T     238881
CL     29451
M      28181
F      21310
C       8483
VM      6981
VP      5854
BT      5407
TT      3694
CM      3573
VL      1818
TA      1018
AB       513
AC       453
VV       204
TR       143
BA       137
VI       109
CP        76
          71
MB        63
RI        53
VE        45
G         32
QC        17
CC        16
AM        15
B         11
TL         9
MP         8
MC         8
AT         6
GI         5
A          4
PC         3
MT         1
MS         1
PT         1
BI         1
AU         1
Y          1
CR         1
Name: Tipus de vehícle, dtype: int64
___
Column: Descripció tipus vehicle
___
Turisme                                           238881
Comercial                                          29451
Moto                                               28181
Furgoneta                                          21310
Camió                                               8658
Vehicle mixt                                        6981
Vehicle mobilitat personal                          5854
Bicicleta                                           5407
Tot terreny                                         3694
Ciclomotor                                          3573
Velomotors                                          1818
Taxi                                                1018
Autobús                                              513
Autocar                                              453
Vehícle vivenda                                      204
Bicicleta amb pedaleig assistit                      137
Vianant                                              109
Altres                                                97
Cicle més de dues rodes C1 transports persones        76
Microbús                                              63
Remolc Ind.                                           53
Vehicle especial                                      45
Quadricicle                                           17
Cicle més de dues rodes per càrrega                   16
Ambulància                                            15
Tricicle                                               9
Moto-carro                                             8
Monopatí                                               8
Giny mecànic                                           5
Pala Càrrega                                           3
Patins                                                 1
Cicle motor fins a 1000W                               1
Name: Descripció tipus vehicle, dtype: int64
___
Column: Marca del vehicle
___
                   36473
VOLKSWAGEN         28477
RENAULT            22365
CITROEN            21696
SEAT               20975
                   ...
ROYAL                  1
LAND ROVE              1
TROPOS MOT             1
ROBLES                 1
BENIMAR                1
Name: Marca del vehicle, Length: 452, dtype: int64
___
Column Model del vehícle has too many unique values.
Column: Velocitat circulació
___
0      232613
41      14636
42       9431
43       7041
44       5721
        ...
159         1
191         1
136         1
178         1
155         1
Name: Velocitat circulació, Length: 125, dtype: int64
___
Column: Velocitat límit
___
0     232613
30     59605
50     22859
60     21966
80     19616
Name: Velocitat límit, dtype: int64
___
Column: Total Import
___
100     126563
50       69561
200      65297
90       39454
60       33560
40       16201
1000      2147
500       2010
300       1455
400        185
30         171
600         22
80          17
4002         9
3000         4
150          2
72           1
Name: Total Import, dtype: int64
___
Column: Imp cobrat
___
0         107588
0          71783
50         44126
25         22565
50         19878
           ...
241,11         1
31,5           1
108,61         1
502            1
75             1
Name: Imp cobrat, Length: 94, dtype: int64
___

In [85]:
df_raw.columns

Index(['Any Data Infraccio', 'Expedient', 'Codi Infraccio', 'Codi infracció',
       'Ordenança', 'Descripció ordenança', 'Precepte/Article infringit',
       'Carrer Infracció', 'Num carrer infracció', 'Barri Infracció',
       'Nom barri', 'Districte Infracció', 'Tipologia radar', 'Data Infraccio',
       'Hora Infraccio', 'Tipus de vehícle', 'Descripció tipus vehicle',
       'Marca del vehicle', 'Model del vehícle', 'Velocitat circulació',
       'Velocitat límit', 'Total Import', 'Imp cobrat'],
      dtype='object')

In [87]:
df_raw.head(2)[['Nom barri', 'Districte Infracció', 'Tipologia radar']]

,Nom barri,Districte Infracció,Tipologia radar
0,el Poblenou,10,
1,el Camp de l'Arpa del Clot,10,

In [88]:
cols_to_keep = ['Codi infracció','Descripció ordenança','Carrer Infracció','Nom barri','Data Infraccio',
                'Hora Infraccio','Descripció tipus vehicle','Marca del vehicle','Model del vehícle',
                'Velocitat circulació','Velocitat límit','Total Import','Imp cobrat'
               ]

In [94]:
df = df_raw[cols_to_keep].copy()

In [95]:
df['Data Infraccio'] = pd.to_datetime(df['Data Infraccio'], format='%Y%m%d')

In [98]:
df['Hora Infraccio'] = df['Hora Infraccio'].apply(lambda x: x[0:2])

In [102]:
df['Imp cobrat'].value_counts()

0         107588
0          71783
50         44126
25         22565
50         19878
           ...
241,11         1
31,5           1
108,61         1
502            1
75             1
Name: Imp cobrat, Length: 94, dtype: int64

In [107]:
df['Imp cobrat'] = df['Imp cobrat'].apply(lambda x: float(str(x).replace(',','.')))

In [108]:
df.to_parquet('./denuncies_partial_2023.parquet')