In [1]:
import pandas as pd
import numpy as np

In [2]:
path_name = 'C:/Users/Usuario/Downloads/DenunciesGUB-2023_GD_parcial_v2.csv'

In [3]:
delimiter = ';'

In [4]:
df_raw = pd.read_csv(path_name, 
                     encoding='latin-1', 
                     #keep_default_na=True,
                     #header = None,
                     #names = list(range(0,max_columns)),
                     #skiprows = 1,
                     delimiter=delimiter
                    )

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8008\251316281.py:1: DtypeWarning: Columns (11,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv(path_name,

In [5]:
# How many rows?
len(df_raw)

485834

In [6]:
for col in df_raw.columns:
    s = df_raw[col]
    vc = s.value_counts()
    print(f'Column: {col}')
    print('___')
    print(vc)
    print('___')

Column: Any Data Infraccio
___
2023    485834
Name: Any Data Infraccio, dtype: int64
___
Column: Expedient
___
1         1
323885    1
323897    1
323896    1
323895    1
         ..
161942    1
161941    1
161940    1
161939    1
485834    1
Name: Expedient, Length: 485834, dtype: int64
___
Column: Codi Infraccio
___
1211    126456
1071     94395
1660     43598
1072     23156
1210     21958
         ...
1026         1
1581         1
1755         1
1145         1
3300         1
Name: Codi Infraccio, Length: 472, dtype: int64
___
Column: Codi infracció
___
SUPERAR LIMIT VELOCITAT SENYAL ESPECIFIC                        127469
MANCA DE COMPROVANT HORARI                                       94395
NO RESPECTAR RESTRICCIONS ZONES BAIXES EMISSIONS                 43598
SUPERAR LIMIT HORARI                                             23156
CIRCULA AMB EXCES DE VELOCITAT PER RAO DE VIA                    21958
                                                                 ...
MARXA ENRERA EN TUNEL O PAS INFERIOR                                 1
Circular VMP/cicle mes 2r A/B/C2 a zones verdes de parcs pub         1
NO REDUIR VELOCITAT EN ESTRETOR DE VIA                               1
NO ATURAR MARXA EXIGINT-HO CIRCUMSTANCIE                             1
NEGATIVA DETECCIO DROGUES CONDUCTOR SENSE PERMIS/LLICENCIA           1
Name: Codi infracció, Length: 459, dtype: int64
___
Column: Ordenança
___
OCVV          229448
RGC           208297
LSVZBE         43598
LSV             4491
Name: Ordenança, dtype: int64
___
Column: Descripció ordenança
___
Circulació                      229448
Reglament General Circulació    208297
Llei seguretat viària- ZBE       43598
Llei Seguretat Viària             4491
Name: Descripció ordenança, dtype: int64
___
Column: Precepte/Article infringit
___
52. 1         115498
70.2 I         97001
76. Z3         36993
70.2 O         27098
146.A          22857
               ...
114                1
115.4              1
104. A             1
53.1               1
15.3               1
Name: Precepte/Article infringit, Length: 326, dtype: int64
___
Column: Carrer Infracció
___
Av Diagonal                                                     17745
Av Meridiana                                                    16791
Rda Dalt(Llobregat                                              16730
GV Corts Catalanes                                              13870
Balmes                                                          13230
                                                                ...
Ptge Palau                                                          1
Pl Terenci Moix                                                     1
Ptge Ciutadans                                                      1
Ptge Isabel                                                         1
Pl Torre Llobeta                                                    1
Name: Carrer Infracció, Length: 3225, dtype: int64
___
Column: Num carrer infracció
___
1             14343
163           11673
2             11073
158           10960
K143          10948
              ...
0008I             1
K014              1
1162              1
0009A             1
0291X             1
Name: Num carrer infracció, Length: 1636, dtype: int64
___
Column: Barri Infracció
___
7     33086
26    27493
8     23385
19    22485
23    19330
      ...
55      270
58      151
54      111
0        49
56       22
Name: Barri Infracció, Length: 74, dtype: int64
___
Column: Nom barri
___
la Dreta de l'Eixample                          33086
Sant Gervasi - Galvany                          27493
l Antiga Esquerra de l'Eixample                 23385
les Corts                                       22485
Sarria                                          19330
                                                ...
Canyelles                                         331
Ciutat Meridiana                                  270
Baro de Viver                                     151
Torre Baro                                        111
Vallbona                                           22
Name: Nom barri, Length: 73, dtype: int64
___
Column: Districte Infracció
___
2     73104
5     42298
10    36600
2     35355
4     32889
8     30945
3     27861
1     25601
7     22213
5     21664
9     18234
8     18172
4     17513
10    15934
3     14969
6     12220
7     12179
1     11895
9      9858
6      6301
         29
Name: Districte Infracció, dtype: int64
___
Column: Tipologia radar
___
         334773
Fix      148319
Mòbil      2742
Name: Tipologia radar, dtype: int64
___
Column: Data Infraccio
___
20230303    4386
20230203    4264
20230120    4186
20230119    4099
20230116    4035
            ...
20230604     680
20230521     557
20230702     446
20230706     237
20230707     173
Name: Data Infraccio, Length: 188, dtype: int64
___
Column: Hora Infraccio
___
123900    919
124500    900
124100    879
123500    876
123100    873
         ...
121601      1
120001      1
140801      1
104201      1
175856      1
Name: Hora Infraccio, Length: 1462, dtype: int64
___
Column: Tipus de vehícle
___
T     322981
CL     41456
M      39221
F      28516
C      11652
VM      8996
VP      8201
BT      7656
CM      5419
TT      4525
VL      2559
TA      1658
AB       739
AC       695
VV       294
BA       191
VI       187
TR       178
RI       141
MB       106
CP        94
          77
VE        66
G         38
QC        28
AM        23
CC        23
AT        19
TL        14
B         14
GI        13
MC        13
RT        10
MP         8
PC         4
A          4
CR         3
AU         3
PT         3
BI         1
Y          1
MS         1
MT         1
0          1
P          1
Name: Tipus de vehícle, dtype: int64
___
Column: Descripció tipus vehicle
___
Turisme                                           322981
Comercial                                          41456
Moto                                               39221
Furgoneta                                          28516
Camió                                              11868
Vehicle mixt                                        8996
Vehicle mobilitat personal                          8201
Bicicleta                                           7656
Ciclomotor                                          5419
Tot terreny                                         4525
Velomotors                                          2559
Taxi                                                1658
Autobús                                              739
Autocar                                              695
Vehícle vivenda                                      294
Bicicleta amb pedaleig assistit                      191
Vianant                                              187
Remolc Ind.                                          141
Altres                                               133
Microbús                                             106
Cicle més de dues rodes C1 transports persones        94
Vehicle especial                                      66
Quadricicle                                           28
Ambulància                                            23
Cicle més de dues rodes per càrrega                   23
Tricicle                                              14
Giny mecànic                                          13
Moto-carro                                            13
Monopatí                                               8
Pala Càrrega                                           4
Patins                                                 3
Cicle motor fins a 1000W                               3
Name: Descripció tipus vehicle, dtype: int64
___
Column: Marca del vehicle
___
                   58531
VOLKSWAGEN         37726
RENAULT            30049
CITROEN            29021
SEAT               27844
                   ...
MOVEX                  1
G.M.E.                 1
INDOX                  1
RENAULT TE             1
URAL                   1
Name: Marca del vehicle, Length: 509, dtype: int64
___
Column: Model del vehícle
___
                                  58545
GOLF                               7381
IBIZA                              6364
KANGOO                             5462
POLO                               5249
                                  ...
NISAN QASH                            1
VY5K0N                                1
DS5 HD160A                            1
VIVACITY 2                            1
308 3P SPORT HDI                      1
Name: Model del vehícle, Length: 13247, dtype: int64
___
Column: Velocitat circulació
___
0      334775
41      18615
42      11932
43       8724
44       7073
        ...
191         1
146         1
168         1
164         1
147         1
Name: Velocitat circulació, Length: 131, dtype: int64
___
Column: Velocitat límit
___
0     334775
30     74255
50     26945
60     25432
80     24385
70        24
20        18
Name: Velocitat límit, dtype: int64
___
Column: Total Import
___
100     154982
50      100278
200      92900
90       57143
60       48903
40       23178
1000      3131
500       3026
300       1721
30         256
400        234
600         39
80          21
4002        12
150          4
3000         4
72           2
Name: Total Import, dtype: int64
___
Column: Imp cobrat
___
0         140866
0         106193
50         68719
25         32938
100        25633
           ...
121,31         1
606,23         1
400            1
109,14         1
105            1
Name: Imp cobrat, Length: 179, dtype: int64
___

In [7]:
df_raw.columns

Index(['Any Data Infraccio', 'Expedient', 'Codi Infraccio', 'Codi infracció',
       'Ordenança', 'Descripció ordenança', 'Precepte/Article infringit',
       'Carrer Infracció', 'Num carrer infracció', 'Barri Infracció',
       'Nom barri', 'Districte Infracció', 'Tipologia radar', 'Data Infraccio',
       'Hora Infraccio', 'Tipus de vehícle', 'Descripció tipus vehicle',
       'Marca del vehicle', 'Model del vehícle', 'Velocitat circulació',
       'Velocitat límit', 'Total Import', 'Imp cobrat'],
      dtype='object')

In [8]:
correct_character_dict = {'ó':'o','ç':'c','í':'i'}
def correct_string(string, correct_character_dict):
    corrected_string = [correct_character_dict[c] if c in correct_character_dict.keys() else c for c in string]
    return ''.join(corrected_string)
df_raw.columns = [correct_string(col,correct_character_dict) for col in df_raw.columns]

In [9]:
df_raw.head(2)[['Nom barri', 'Districte Infraccio', 'Tipologia radar']]

,Nom barri,Districte Infraccio,Tipologia radar
0,la Marina del Prat Vermell,3,Fix
1,la Marina del Prat Vermell,3,Fix

In [10]:
df_raw.columns

Index(['Any Data Infraccio', 'Expedient', 'Codi Infraccio', 'Codi infraccio',
       'Ordenanca', 'Descripcio ordenanca', 'Precepte/Article infringit',
       'Carrer Infraccio', 'Num carrer infraccio', 'Barri Infraccio',
       'Nom barri', 'Districte Infraccio', 'Tipologia radar', 'Data Infraccio',
       'Hora Infraccio', 'Tipus de vehicle', 'Descripcio tipus vehicle',
       'Marca del vehicle', 'Model del vehicle', 'Velocitat circulacio',
       'Velocitat limit', 'Total Import', 'Imp cobrat'],
      dtype='object')

In [11]:
# cols_to_keep = ['Codi infraccio','Descripcio ordenanca','Carrer Infraccio','Nom barri','Data Infraccio',
#                 'Hora Infraccio','Descripcio tipus vehicle','Marca del vehicle','Model del vehicle',
#                 'Velocitat circulacio','Velocitat limit','Total Import','Imp cobrat',
#                 'Tipologia radar','Expedient','Num carrer infraccio', 'Districte Infraccio'
#                ]

In [12]:
df = df_raw#[cols_to_keep].copy()

In [13]:
df.rename(columns={'Codi infraccio':'Descripcio infraccio'}, inplace=True)

In [14]:
df['Data Infraccio'] = pd.to_datetime(df['Data Infraccio'], format='%Y%m%d')

In [15]:
# I don't know what this stands for
# df['Hora Infraccio'] = df['Hora Infraccio'].apply(lambda x: x[0:2])

In [16]:
df['Hora Infraccio'].apply(lambda x: len(x)).value_counts()

6    371768
5    103737
4      8831
3      1498
Name: Hora Infraccio, dtype: int64

In [17]:
def correct_time(x):
    x =str(x).replace(' ','')
    if x=='':
        return np.nan
    else:
        return str(x).rjust(6,'0')[0:2]

In [18]:
df['Hora Infraccio'] = df['Hora Infraccio'].apply(lambda x: correct_time(x))

In [20]:
df['Hora Infraccio'].value_counts()

12    45363
10    40785
09    38820
16    38637
13    34101
17    33566
11    31532
15    31308
14    26912
19    25018
08    22551
18    21878
20    13597
07    11856
00    10329
21    10064
23     9777
22     8931
01     7787
05     5217
04     4731
02     4515
06     4308
03     3952
Name: Hora Infraccio, dtype: int64

In [21]:
df['Imp cobrat'].value_counts()

0         140866
0         106193
50         68719
25         32938
100        25633
           ...
121,31         1
606,23         1
400            1
109,14         1
105            1
Name: Imp cobrat, Length: 179, dtype: int64

In [22]:
df['Imp cobrat'] = df['Imp cobrat'].apply(lambda x: float(str(x).replace(',','.')))

In [23]:
def treat_mixed_column_type(x):
    if isinstance(x,int):
        return x
    if isinstance(x,str):
        if x.replace(' ','')=='':
            return np.nan
    return int(x)

In [24]:
df['Districte Infraccio'] = df['Districte Infraccio'].apply(lambda x: treat_mixed_column_type(x))

In [25]:
# Remove trailing whitespaces from all str column types
def remove_whitespace(x):
    if isinstance(x,str):
        return x.strip()
    return x

In [26]:
for c in df.columns:
    if df[col].dtype!='int64':
        df[c] = df[c].apply(lambda x: remove_whitespace(x))

In [27]:
df.to_parquet('./denuncies_partial_2023.parquet')